@media screen and (min-width: 1150px) and (max-width: 1524px) {
  /* Proyek */
  .main-proyek-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1090px) and (max-width: 1350px) {
  /* Footer */
  .footer-logo-kb {
    width: 90px;
  }

  .mitra-logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0;
  }

  .mitra-logo img {
    height: 35px;
  }

  .footer-links ul {
    gap: 2em;
  }
}

@media screen and (min-width: 961px) and (max-width: 1089px) {
  /* Footer */
  .footer-logo-kb {
    width: 85px;
  }

  .footer-mitra h3,
  .footer-links h4 {
    font-size: 0.95em;
  }

  .mitra-logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0;
  }

  .mitra-logo img {
    height: 30px;
  }

  .footer-links ul {
    gap: 1.2em;
  }
}

/* Laptop L */
@media screen and (max-width: 1280px) {
  /* Hero2 */
  .hero2 {
    height: 30vh;
  }

  .hero-content2 h2 {
    font-size: 2.9em;
  }

  /* Breadcrumb */
  .breadcrumb {
    padding: 0.8em 0;
  }

  .breadcrumb ol {
    font-size: 0.9em;
  }

  /* Navbar */
  .navbar {
    font-size: 0.8em;
  }

  .logo-koribali {
    width: 40px;
  }

  .navbar-title h1 {
    font-size: 1.9em;
  }

  .navbar-menu ul {
    gap: 0;
  }

  /* Hero */
  .hero-content {
    width: 70%;
  }

  .hero h2 {
    font-size: 2.5em;
    margin-bottom: 0.35em;
  }

  /* Tentang */
  .main-tentang h2 {
    font-size: 2.3em;
  }

  .main-tentang p {
    font-size: 0.95em;
  }

  .main-tentang-container {
    width: 70%;
    padding: 2em 4em;
  }

  /* Layanan */
  .main-layanan h2 {
    font-size: 2.3em;
  }

  .daftar-layanan {
    padding: 1.5em 2.5em;
    border-radius: 0.5em;
  }

  /* Proyek */
  .main-proyek h2 {
    font-size: 2.3em;
  }

  .card-proyek h3 {
    margin-bottom: 0.25em;
  }

  .card-proyek p {
    font-size: 0.8em;
  }

  /* Galeri */
  .main-galeri h2 {
    font-size: 2.3em;
  }

  .main-galeri-container {
    gap: 1.25em;
  }

  .main-galeri-container figure {
    width: 260px;
  }

  .main-galeri-container img {
    height: 400px;
  }

  /* === Contact Page === */
  /* Informasi Kontak */
  .informasi-kontak {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* Form Kontak */
  .form-kontak {
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 1.5em;
  }

  .form-kontak label,
  .form-control,
  .btn-form {
    font-size: 0.95em;
  }
}

/* Tablet */
@media screen and (max-width: 960px) {
  /* Hero2 */
  .hero2 {
    height: 27vh;
  }

  .hero-content2 h2 {
    font-size: 2.7em;
  }

  /* Breadcrumb */
  .breadcrumb {
    padding: 0.7em 0;
  }

  .breadcrumb ol {
    font-size: 0.85em;
  }

  /* Navbar */
  .navbar {
    width: 100%;
    flex-direction: column;
  }

  .navbar-logo {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    gap: 0.4em;
  }

  .navbar-area {
    gap: 1.25m;
  }

  .icon-navbar label {
    cursor: pointer;
    position: relative;
  }

  .icon-navbar label img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }

  .navbar-title h1 {
    font-size: 1.9em;
  }

  .icon-menu {
    display: block;
  }

  #menu:checked ~ .navbar-logo .icon-menu {
    display: none;
  }

  .navbar-menu {
    width: 100%;
  }

  .navbar-menu ul {
    background-color: #fefefe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 48px;
    width: 100%;
    flex-direction: column;
    gap: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
  }

  .navbar-menu ul li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar-menu a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    border-top: 1px solid #ddd;
    border-radius: 0px;
  }

  #menu:checked ~ .navbar-menu ul {
    margin-top: 0.7em;
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }

  #menu:checked ~ .navbar-logo .icon-close {
    display: block;
  }

  #menu:checked ~ .navbar-logo .overlay {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* Hero */
  .hero-content {
    width: 80%;
  }

  .hero h2 {
    font-size: 2.25em;
  }

  .hero p {
    font-size: 0.85em;
  }

  /* Tentang */
  .main-tentang-container {
    width: 80%;
    padding: 3em 4em;
  }

  .main-tentang p {
    font-size: 1em;
    line-height: 1.6;
  }

  /* Proyek */
  .card-proyek h3 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }

  .card-proyek p {
    font-size: 0.85em;
  }

  .position-btn-proyek a {
    font-size: 0.95em;
  }

  /* Galeri */
  .position-btn-galeri a {
    font-size: 0.9em;
  }

  /* Kontak */
  .main-kontak-container {
    max-width: 580px;
  }

  .main-kontak h2 {
    font-size: 1.7em;
  }

  .main-kontak p {
    font-size: 0.95em;
  }

  .main-kontak a {
    font-size: 0.95em;
  }

  /* Footer */
  .footer-logo-kb {
    width: 80px;
  }

  .mitra-logo img {
    height: 35px;
  }

  .footer-links ul {
    gap: 2.5em;
  }

  /* === Contact Page === */
  /* Informasi Kontak */
  .informasi-kontak img {
    margin-bottom: 0.6em;
  }

  /* Form Kontak */
  .form-kontak label,
  .form-control,
  .btn-form {
    font-size: 1em;
  }

  .form-kontak {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2em;
  }
}

/* Tablet M */
@media screen and (max-width: 700px) {
  /* Hero2 */
  .hero2 {
    height: 25vh;
  }

  .hero-content2 h2 {
    font-size: 2.6em;
  }

  /* Hero */
  .hero h2 {
    font-size: 1.8em;
  }

  .hero p {
    font-size: 0.75em;
  }

  /* Galeri */
  .main-galeri-container figure {
    width: 250px;
  }

  .main-galeri-container img {
    height: 380px;
  }

  /* Kontak */
  .main-kontak-container {
    max-width: 470px;
  }

  .main-kontak h2 {
    font-size: 1.8em;
  }

  .main-kontak p {
    font-size: 0.95em;
  }

  /* Footer */
  .footer {
    padding-top: 2em;
  }

  .footer-top {
    gap: 1.8em;
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .footer-brand {
    gap: 1em;
  }

  .footer-brand-container {
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  .footer-logo-kb {
    width: 70px;
  }

  .footer-mitra h3 {
    text-align: center;
    font-size: 1em;
  }

  .footer-links a {
    font-size: 1em;
  }

  .mitra-logo img {
    height: 33px;
  }

  .sosmed-icons {
    justify-content: center;
  }

  .sosmed-icons img {
    width: 32px;
  }

  .footer-links ul {
    flex-direction: column;
    gap: 0em;
  }

  .footer-bottom p {
    font-size: 0.85em;
  }

  /* === Contact Page === */
  /* Informasi Kontak */
  .informasi-kontak article {
    padding: 1.5em;
  }

  .informasi-kontak img {
    width: 2.2em;
    height: 2.2em;
  }

  .informasi-kontak h3 {
    font-size: 1.05em;
    margin-bottom: 0.5em;
  }

  .informasi-kontak p,
  .informasi-kontak a {
    font-size: 0.9em;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .container,
  .navbar-logo {
    width: 85%;
  }

  /* Hero2 */
  .hero2 {
    height: 20vh;
  }

  .hero-content2 {
    width: 85%;
  }

  .hero-content2 h2 {
    font-size: 1.6em;
  }

  /* Breadcrumb */
  .breadcrumb {
    padding: 0.65em 0;
  }

  .breadcrumb ol {
    font-size: 0.8em;
  }

  /* Navbar */
  .navbar-title h1 {
    font-size: 1.7em;
  }

  .navbar-logo label img {
    width: 33px;
    height: 33px;
  }

  /* Hero */
  .hero-content {
    width: 85%;
  }

  .hero h2 {
    text-align: center;
    font-size: 1.5em;
  }

  .hero p {
    display: none;
  }

  /* Tentang */
  .main-tentang {
    margin-bottom: 90px;
  }

  .main-tentang-container {
    width: 85%;
    padding: 1.6em 2.2em;
  }

  .main-tentang h2 {
    font-size: 1.8em;
  }

  .main-tentang p {
    text-align: justify;
    font-size: 0.8em;
  }

  /* Layanan */
  .main-layanan {
    margin-bottom: 90px;
  }

  .main-layanan h2 {
    font-size: 1.8em;
  }

  .daftar-layanan {
    padding: 1.1em 2em;
  }

  .daftar-layanan h3 {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  .daftar-layanan p {
    font-size: 0.8em;
  }

  /* Proyek */
  .main-proyek {
    margin-bottom: 90px;
  }

  .main-proyek h2 {
    font-size: 1.8em;
  }

  .card-proyek p {
    font-size: 0.8em;
  }

  .position-btn-proyek a {
    font-size: 0.85em;
  }

  /* Galeri */
  .main-galeri {
    margin-bottom: 90px;
  }

  .main-galeri-container {
    gap: 1.25em;
    border-radius: 1em;
    padding: 0.5em 0;
  }

  .main-galeri h2 {
    font-size: 1.8em;
  }

  .main-galeri-container figure {
    width: 220px;
  }

  .main-galeri-container img {
    height: 335px;
  }

  .main-galeri-container figcaption {
    font-size: 0.85em;
  }

  /* .main-galeri-container::scroll-button(right),
  .main-galeri-container::scroll-button(left) {
    font-size: 1.8em;
    background: none;
    height: 45px;
    width: 45px;
    text-shadow: -1px -1px 0 #3399cc, 1px -1px 0 #3399cc, -1px 1px 0 #3399cc,
      1px 1px 0 #3399cc;
  } */

  .position-btn-galeri a {
    font-size: 0.85em;
  }

  /* Kontak */
  .main-kontak {
    margin-bottom: 90px;
  }

  .main-kontak-container {
    max-width: 360px;
    padding: 2em;
  }

  .main-kontak h2 {
    font-size: 1.45em;
  }

  .main-kontak p {
    font-size: 0.85em;
  }

  .main-kontak a {
    font-size: 0.85em;
  }

  /* Footer */
  .footer-mitra h3,
  .footer-links a {
    font-size: 0.9em;
  }

  /* === Contact Page === */
  /* Informasi Kontak */
  .informasi-kontak {
    margin: 2.5em auto;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .informasi-kontak img {
    margin-bottom: 0.5em;
  }

  .informasi-kontak h3 {
    font-size: 1.1em;
  }

  .informasi-kontak p,
  .informasi-kontak a {
    font-size: 0.95em;
  }

  /* Form Kontak */
  .form-area h2 {
    font-size: 1.75em;
  }

  .form-area h2::after {
    width: 95px;
    height: 4px;
  }

  .form-kontak label,
  .form-control,
  .btn-form {
    font-size: 0.9em;
  }

  /* === Galeri Page === */
  /* .carousel::scroll-button(right),
  .carousel::scroll-button(left) {
    font-size: 1.8em;
    height: 45px;
    width: 45px;
  } */

  .card {
    flex: 0 0 100%;
  }
}

/* Mobile M */
@media screen and (max-width: 390px) {
  .container,
  .navbar-logo {
    width: 90%;
  }

  /* Hero2 */
  .hero-content2 {
    width: 90%;
  }

  .hero-content2 h2 {
    font-size: 1.5em;
  }

  /* Navbar */
  .navbar-title h1 {
    font-size: 1.6em;
  }

  .navbar-logo label img {
    width: 32px;
    height: 32px;
  }

  /* Hero */
  .hero-content {
    width: 90%;
  }

  .hero h2 {
    text-align: center;
    font-size: 1.25em;
  }

  /* Tentang */
  .main-tentang-container {
    width: 90%;
    padding: 1.5em 2.2em;
  }

  .main-tentang h2 {
    font-size: 1.65em;
  }

  .main-tentang p {
    font-size: 0.7em;
  }

  /* Layanan */
  .main-layanan h2 {
    font-size: 1.65em;
  }

  .daftar-layanan {
    padding: 1em 2em;
  }

  /* Proyek */
  .main-proyek h2 {
    font-size: 1.65em;
  }

  .main-proyek-container {
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .card-proyek p {
    font-size: 0.75em;
  }

  .position-btn-proyek a {
    font-size: 0.8em;
  }

  /* Galeri */
  .main-galeri h2 {
    font-size: 1.65em;
  }

  .main-galeri-container figure {
    width: 220px;
  }

  .main-galeri-container img {
    height: 335px;
  }

  .main-galeri-container figcaption {
    font-size: 0.8em;
  }

  /* .main-galeri-container::scroll-button(right),
  .main-galeri-container::scroll-button(left) {
    box-shadow: none;
  }

  .main-galeri-container::scroll-button(right):hover,
  .main-galeri-container::scroll-button(left):hover {
    transform: none;
    box-shadow: none;
  } */

  .position-btn-galeri a {
    font-size: 0.8em;
  }

  /* Kontak */
  .main-kontak-container {
    max-width: 280px;
    padding: 1.8em;
  }

  .main-kontak h2 {
    font-size: 1.3em;
  }

  .main-kontak p {
    font-size: 0.75em;
  }

  .main-kontak a {
    font-size: 0.8em;
  }

  /* Footer */
  .mitra-logo img {
    height: 27px;
  }

  .sosmed-icons img {
    width: 29px;
  }

  /* === Contact Page === */
  /* Informasi Kontak */
  .informasi-kontak h3 {
    font-size: 1.05em;
  }

  .informasi-kontak p,
  .informasi-kontak a {
    font-size: 0.9em;
  }

  /* Form Kontak */
  .form-area h2 {
    font-size: 1.7em;
  }

  .form-kontak {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .form-kontak form {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .form-row {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .form-kontak label,
  .form-control,
  .btn-form {
    font-size: 0.8em;
  }
}

/* Mobile S */
@media screen and (max-width: 300px) {
  /* Hero2 */
  .hero-content2 {
    overflow: hidden;
  }

  /* Breadcrumb */
  .breadcrumb {
    overflow: hidden;
  }

  /* Navbar */
  .container,
  .navbar-logo {
    width: 90%;
  }

  .navbar-logo {
    overflow: hidden;
  }

  .navbar-title {
    display: none;
  }

  /* Hero */
  .hero-content {
    width: 90%;
    overflow: hidden;
  }

  /* Tentang */
  .main-tentang {
    overflow: hidden;
  }

  .main-tentang-container p {
    text-align: center;
  }

  /* Layanan */
  .main-layanan {
    overflow: hidden;
  }

  /* Proyek */
  .main-proyek {
    overflow: hidden;
  }

  /* Galeri */
  .main-galeri {
    overflow: hidden;
  }

  /* Kontak */
  .main-kontak {
    overflow: hidden;
  }

  .main-kontak-container {
    width: 90%;
  }

  /* Footer */
  .footer {
    overflow: hidden;
  }

  /* === Contact Page === */
  /* Informasi Kontak */
  .informasi-kontak,
  .form-area {
    overflow: hidden;
  }
}
